.infoDiv{
    display:inline-block; 
}
.standardInput{
    margin-right: 60px;
}

.doneButton{
    background: white;
    border: 1px solid #555555;
    color: #555555;
    cursor: pointer;
    font-weight: 600;
    margin-left:1.5rem;
    margin-right:1.5rem;
    outline: none;
    padding:0.3rem;
    transition: transform .2s ease;
    border-radius: 50%;
    height:4rem;
    width:4rem;
}
.doneButton:hover{
    background: #888888;
}
.doneButton:active{
    background: #888888;
    transform: scale(1.2);
}

.chordButton{
    background: white;
    color: #555555;
    font-weight: 600;
    margin-left:1.5rem;
    transition: transform .2s ease;
}

.chordButtonChosen{
    background: #BBBBBB;
    color: #555555;
    font-weight: 600;
    margin-left:1.5rem;
    transition: transform .2s ease;
    position:relative;top:10px; left:9px;
}

.twoInputDiv{
    overflow-x: hidden;
    overflow-y: scroll;
}

.chordEntryDiv{
    margin-bottom: 20px
}
#chordButtonOuter{display:inline-block;}
#chordButtonInner{
    background:url('../pic/delete_chord.svg') no-repeat 0px 0px;
    background-color: #EE0000;
    position:relative;
    color:#FFFFFF; 
    font-weight:bold;
    width:10px;
    height:20px;
    cursor:pointer;
}
#chordButtonInner:hover{
    background-color: #00EE00;
}