.infoDiv{
    display:inline-block; 
}
.standardInput{
    
    border: 1px solid #ccc;
    padding: 7px 0px;
    border-radius: 3px;
    padding-left:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
            
}
.addButton{
    margin: 5px;
    padding: 10px 25px;
    

    text-align: center;
    display: inline-block;
    border-radius:5px; 
}
.doneButton{
    background: white;
    border: 1px solid #555555;
    color: #555555;
    cursor: pointer;
    font-weight: 600;
    margin-left:1.5rem;
    margin-right:1.5rem;
    outline: none;
    padding:0.3rem;
    transition: transform .2s ease;
    border-radius: 50%;
    height:4rem;
    width:4rem;
}
.doneButton:hover{
    background: #888888;
}
.doneButton:active{
    background: #888888;
    transform: scale(1.2);
}

.chordButton{
    background: white;
    color: #555555;
    font-weight: 600;
    margin-left:1.5rem;
    transition: transform .2s ease;
}

.chordButtonChosen{
    background: #BBBBBB;
    color: #555555;
    font-weight: 600;
    margin-left:1.5rem;
    transition: transform .2s ease;
    position:relative;top:10px; left:9px;
}

.twoInputDiv{
    overflow-x: hidden;
}
.singleInputDiv{
  margin: 10px;
}
.chordEntryDiv{
    margin-bottom: 20px
}
#chordButtonOuter{display:inline-block;}
#chordButtonInner{
    background:url('../pic/delete_chord.svg') no-repeat 0px 0px;
    background-color: #EE0000;
    position:relative;
    color:#FFFFFF; 
    font-weight:bold;
    width:10px;
    height:20px;
    cursor:pointer;
}
#chordButtonInner:hover{
    background-color: #00EE00;
}

.partOfSongSelector{
    
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin:10px;
}
.modeNameList{
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin:10px;
}
