.menuButton{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    /* create a small space when buttons wrap on 2 lines */
    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    /* border-radius: 4px; */
  
    /* size comes from text & padding (no width/height) */
    padding: 0.5em;
  
    /* make sure colors have enough contrast! */
    background-color: #9555af;
    
}

.menuButton:hover{
    background-color: #6A2D71;
}

.mainMenu{
    background: #9555af;
    height: 40px;
}

