.infoText{
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:inline-block;
}

.songItem{
    background:url('../pic/note.png') no-repeat -1px 0px;
    padding-left:40px;
    background-size:40px 30px;
    list-style:none;
}

.songItem:hover{
    background-color: #AAAAAA;
}

.songItem:active{
    background-color: #AAAAAA;
}

.leftMargin40Button{
    margin-left:40px;
}
.leftMargin20Button{
    margin-left:20px;
}